.skills-container {
	margin-top: 50px
}
.skills>.card+.card{
	border-top: 0;
	border-left: solid 1px rgba(0,0,0,.125);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.skills>.card:first-child{
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.skills>.card:last-child{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}
